@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules//primeicons/primeicons.css';
.App {
    background: #FFF;
    height: 100%
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    padding: .8rem;
    border-radius: 3px;
    border: 1px solid #70707070;
}
.link{
    margin-right: 5px;
    font-size: 1.2rem;
    color: rgb(0, 177, 241)!important;
    font-weight: 500;
    letter-spacing: .5px;
}
.nav-links {
    display: inline-flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    list-style: none;
}
.link-btn{
    background: rgb(0,177,241);
    background: linear-gradient(45deg, rgba(0,177,241,1) 0%, rgba(105,244,217,1) 100%);
    padding: .5rem 2rem;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    text-decoration: none;
    border: none;
}

a{
    text-decoration: none !important;
    color: #FFF !important;
}
.link-btn :hover a{
    text-decoration: none;
    color: #FFF
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}